*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --primary-white: #fff;
  --primary-black: #000000;

  --grey-50: #f2f2f2;
  --grey-200: #cccccc;
  --grey-400: #999999;
  --grey-600: #666666;
  --grey-800: #333333;
  --grey-900: #252525;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  color: var(--grey-900);
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 1.5;
  font-size: 16px;
  background-color: var(--primary-white);
}
